# Download Data

In [1]:
import os
from download_dataset import download_from_uci

DATA_DIR = '/projects/aieng/diffusion_bootcamp/data/tabular'


NAME_URL_DICT_UCI = {
    'adult': 'https://archive.ics.uci.edu/static/public/2/adult.zip',
    'default': 'https://archive.ics.uci.edu/static/public/350/default+of+credit+card+clients.zip',
    'magic': 'https://archive.ics.uci.edu/static/public/159/magic+gamma+telescope.zip',
    'shoppers': 'https://archive.ics.uci.edu/static/public/468/online+shoppers+purchasing+intention+dataset.zip',
    'beijing': 'https://archive.ics.uci.edu/static/public/381/beijing+pm2+5+data.zip',
    'news': 'https://archive.ics.uci.edu/static/public/332/online+news+popularity.zip'
}

for name in NAME_URL_DICT_UCI.keys():
    download_from_uci(name, os.path.join(DATA_DIR, 'raw_data'), NAME_URL_DICT_UCI)

Start processing dataset adult from UCI.
Aready downloaded.
Start processing dataset default from UCI.
Aready downloaded.
Start processing dataset magic from UCI.
Aready downloaded.
Start processing dataset shoppers from UCI.
Aready downloaded.
Start processing dataset beijing from UCI.
Aready downloaded.
Start processing dataset news from UCI.
Aready downloaded.

# Process Data

In [2]:
from process_dataset import process_data

INFO_PATH = 'data/Info'


for name in ['adult', 'default', 'shoppers', 'magic', 'beijing', 'news']:    
    process_data(name, INFO_PATH, DATA_DIR)

adult (32561, 15) (16281, 15) (32561, 15)
Numerical (32561, 6)
Categorical (32561, 8)
Processing and Saving adult Successfully!
adult
Total 48842
Train 32561
Test 16281
Num 6
Cat 9
default (27000, 24) (3000, 24) (30000, 24)

/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:234: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_df.loc[train_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:234: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_df.loc[train_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:234: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_df.loc[train_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:234: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_df.loc[train_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:234: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_df.loc[train_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:234: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_df.loc[train_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:234: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_df.loc[train_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:234: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_df.loc[train_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:234: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_df.loc[train_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:238: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_df.loc[test_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:238: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_df.loc[test_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:238: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_df.loc[test_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:238: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_df.loc[test_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:238: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_df.loc[test_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:238: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_df.loc[test_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:238: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_df.loc[test_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:238: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_df.loc[test_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:238: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_df.loc[test_df[col] == '?', col] = 'nan'

Numerical (27000, 14)
Categorical (27000, 9)
Processing and Saving default Successfully!
default
Total 30000
Train 27000
Test 3000
Num 14
Cat 10
shoppers (11097, 18) (1233, 18) (12330, 18)

/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:234: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_df.loc[train_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:234: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_df.loc[train_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:234: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_df.loc[train_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:234: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_df.loc[train_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:234: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  train_df.loc[train_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:238: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_df.loc[test_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:238: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_df.loc[test_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:238: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_df.loc[test_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:238: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_df.loc[test_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:238: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  test_df.loc[test_df[col] == '?', col] = 'nan'

Numerical (11097, 10)
Categorical (11097, 7)
Processing and Saving shoppers Successfully!
shoppers
Total 12330
Train 11097
Test 1233
Num 10
Cat 8
magic (17117, 11) (1902, 11) (19019, 11)
Numerical (17117, 10)
Categorical (17117, 0)
Processing and Saving magic Successfully!
magic
Total 19019
Train 17117
Test 1902
Num 10
Cat 1
beijing (37581, 12) (4176, 12) (41757, 12)

/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:234: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_df.loc[train_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:234: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_df.loc[train_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:234: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_df.loc[train_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:234: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_df.loc[train_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:238: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_df.loc[test_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:238: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_df.loc[test_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:238: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_df.loc[test_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:238: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_df.loc[test_df[col] == '?', col] = 'nan'

Numerical (37581, 6)
Categorical (37581, 5)
Processing and Saving beijing Successfully!
beijing
Total 41757
Train 37581
Test 4176
Num 7
Cat 5
news (35679, 48) (3965, 48) (39644, 48)

/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:234: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_df.loc[train_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:234: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_df.loc[train_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:238: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_df.loc[test_df[col] == '?', col] = 'nan'
/fs01/home/sayromlou/diffusion_model_bootcamp/reference_implementations/tabular_reference_impelementation/tabsyn/process_dataset.py:238: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_df.loc[test_df[col] == '?', col] = 'nan'

Numerical (35679, 45)
Categorical (35679, 2)
Processing and Saving news Successfully!
news
Total 39644
Train 35679
Test 3965
Num 46
Cat 2

# Review Data

In [2]:
import pandas as pd


file_path = f'{DATA_DIR}/processed_data/adult/train.csv'

df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
df.head(20)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,39.0,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50.0,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38.0,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53.0,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28.0,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K
5,37.0,Private,284582.0,Masters,14.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40.0,United-States,<=50K
6,49.0,Private,160187.0,9th,5.0,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0.0,0.0,16.0,Jamaica,<=50K
7,52.0,Self-emp-not-inc,209642.0,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,45.0,United-States,>50K
8,31.0,Private,45781.0,Masters,14.0,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,0.0,50.0,United-States,>50K
9,42.0,Private,159449.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,0.0,40.0,United-States,>50K
10,37.0,Private,280464.0,Some-college,10.0,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0.0,0.0,80.0,United-States,>50K
11,30.0,State-gov,141297.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0.0,0.0,40.0,India,>50K
12,23.0,Private,122272.0,Bachelors,13.0,Never-married,Adm-clerical,Own-child,White,Female,0.0,0.0,30.0,United-States,<=50K
13,32.0,Private,205019.0,Assoc-acdm,12.0,Never-married,Sales,Not-in-family,Black,Male,0.0,0.0,50.0,United-States,<=50K
14,40.0,Private,121772.0,Assoc-voc,11.0,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0.0,0.0,40.0,?,>50K
15,34.0,Private,245487.0,7th-8th,4.0,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0.0,0.0,45.0,Mexico,<=50K
16,25.0,Self-emp-not-inc,176756.0,HS-grad,9.0,Never-married,Farming-fishing,Own-child,White,Male,0.0,0.0,35.0,United-States,<=50K
17,32.0,Private,186824.0,HS-grad,9.0,Never-married,Machine-op-inspct,Unmarried,White,Male,0.0,0.0,40.0,United-States,<=50K
18,38.0,Private,28887.0,11th,7.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
19,43.0,Self-emp-not-inc,292175.0,Masters,14.0,Divorced,Exec-managerial,Unmarried,White,Female,0.0,0.0,45.0,United-States,>50K

# Load Data

In [3]:
import os
import src
import json
import numpy as np

from utils import make_dataset


# Replace 'path/to/your/file.json' with the actual path to your JSON file
dataname = 'adult'
real_data_path = f'{DATA_DIR}/processed_data/{dataname}'

In [4]:
# Open the JSON file and read its contents
with open(f'{real_data_path}/info.json', 'r') as file:
    data_info = json.load(file)

# Display the JSON data
print(data_info)

{'name': 'adult', 'task_type': 'binclass', 'header': None, 'column_names': ['age', 'workclass', 'fnlwgt', 'education', 'education.num', 'marital.status', 'occupation', 'relationship', 'race', 'sex', 'capital.gain', 'capital.loss', 'hours.per.week', 'native.country', 'income'], 'num_col_idx': [0, 2, 4, 10, 11, 12], 'cat_col_idx': [1, 3, 5, 6, 7, 8, 9, 13], 'target_col_idx': [14], 'file_type': 'csv', 'data_path': '/projects/aieng/diffusion_bootcamp/data/tabular/raw_data/adult/adult.data', 'test_path': '/projects/aieng/diffusion_bootcamp/data/tabular/raw_data/adult/adult.test', 'column_info': {'0': {}, 'type': 'categorical', 'max': 99.0, 'min': 1.0, '2': {}, '4': {}, '10': {}, '11': {}, '12': {}, '1': {}, 'categorizes': [' >50K', ' <=50K'], '3': {}, '5': {}, '6': {}, '7': {}, '8': {}, '9': {}, '13': {}, '14': {}}, 'train_num': 32561, 'test_num': 16281, 'idx_mapping': {'0': 0, '1': 6, '2': 1, '3': 7, '4': 2, '5': 8, '6': 9, '7': 10, '8': 11, '9': 12, '10': 3, '11': 4, '12': 5, '13': 13, '14': 14}, 'inverse_idx_mapping': {'0': 0, '6': 1, '1': 2, '7': 3, '2': 4, '8': 5, '9': 6, '10': 7, '11': 8, '12': 9, '3': 10, '4': 11, '5': 12, '13': 13, '14': 14}, 'idx_name_mapping': {'0': 'age', '1': 'workclass', '2': 'fnlwgt', '3': 'education', '4': 'education.num', '5': 'marital.status', '6': 'occupation', '7': 'relationship', '8': 'race', '9': 'sex', '10': 'capital.gain', '11': 'capital.loss', '12': 'hours.per.week', '13': 'native.country', '14': 'income'}, 'metadata': {'columns': {'0': {'sdtype': 'numerical', 'computer_representation': 'Float'}, '2': {'sdtype': 'numerical', 'computer_representation': 'Float'}, '4': {'sdtype': 'numerical', 'computer_representation': 'Float'}, '10': {'sdtype': 'numerical', 'computer_representation': 'Float'}, '11': {'sdtype': 'numerical', 'computer_representation': 'Float'}, '12': {'sdtype': 'numerical', 'computer_representation': 'Float'}, '1': {'sdtype': 'categorical'}, '3': {'sdtype': 'categorical'}, '5': {'sdtype': 'categorical'}, '6': {'sdtype': 'categorical'}, '7': {'sdtype': 'categorical'}, '8': {'sdtype': 'categorical'}, '9': {'sdtype': 'categorical'}, '13': {'sdtype': 'categorical'}, '14': {'sdtype': 'categorical'}}}}

In [5]:
config_path = f'./baselines/tabddpm/configs/{dataname}.toml'
raw_config = src.load_config(config_path)

print(raw_config)

{'parent_dir': 'configs/adult', 'model_save_path': 'ckpt/adult', 'sample_save_path': 'sampled/adult', 'real_data_path': 'Data/adult', 'num_numerical_features': 6, 'model_type': 'mlp', 'task_type': 'binclass', 'model_params': {'num_classes': 2, 'is_y_cond': False, 'rtdl_params': {'d_layers': [1024, 2048, 2048, 1024], 'dropout': 0.0}}, 'diffusion_params': {'num_timesteps': 1000, 'gaussian_loss_type': 'mse'}, 'train': {'main': {'steps': 100000, 'lr': 0.001809824563637657, 'weight_decay': 0.0005, 'batch_size': 4096}, 'T': {'seed': 0, 'normalization': 'quantile', 'num_nan_policy': 'mean', 'cat_nan_policy': None, 'cat_min_frequency': None, 'cat_encoding': None, 'y_policy': 'default'}}, 'sample': {'num_samples': 32561, 'batch_size': 10000, 'seed': 0}, 'eval': {'type': {'eval_model': 'mlp', 'eval_type': 'synthetic'}, 'T': {'seed': 0, 'normalization': 'quantile', 'num_nan_policy': None, 'cat_nan_policy': None, 'cat_min_frequency': None, 'cat_encoding': 'one-hot', 'y_policy': 'default'}}}

In [6]:
T = src.Transformations(**raw_config['train']['T'])

dataset = make_dataset(
    real_data_path,
    T,
    task_type = data_info['task_type'],
    change_val = False,
)

data_path /projects/aieng/diffusion_bootcamp/data/tabular/processed_data/adult
No NaNs in numerical features, skipping

In [7]:
print("train dataset num shape: ",dataset.X_num['train'].shape)
print("test dataset num shape: ",dataset.X_num['test'].shape)

print("train dataset cat shape: ",dataset.X_cat['train'].shape)
print("test dataset cat shape: ",dataset.X_cat['test'].shape)

print(dataset.y_info)
print(dataset.task_type)
print(dataset.n_classes)

train dataset num shape:  (32561, 6)
test dataset num shape:  (16281, 6)
train dataset cat shape:  (32561, 9)
test dataset cat shape:  (16281, 9)
{'policy': 'default'}
binclass
None

In [16]:
K = np.array(dataset.get_category_sizes('train'))
print(K)
if len(K) == 0 or raw_config['train']['T']['cat_encoding'] == 'one-hot':
    K = np.array([0])
print(K)

num_numerical_features = dataset.X_num['train'].shape[1] if dataset.X_num is not None else 0
d_in = np.sum(K) + num_numerical_features
raw_config['model_params']['d_in'] = d_in
print(d_in)

[ 2  9 16  7 15  6  5  2 42]
[ 2  9 16  7 15  6  5  2 42]
110

In [9]:
from baselines.tabddpm.tabddpm import train

device = 'cuda'

train(
    **raw_config['train']['main'],
    **raw_config['diffusion_params'],
    dataset = dataset,
    model_save_path=None,
    num_classes = K,
    model_type=raw_config['model_type'],
    model_params=raw_config['model_params'],
    num_numerical_features=raw_config['num_numerical_features'],
    device=device
)

{'num_classes': 2, 'is_y_cond': False, 'rtdl_params': {'d_layers': [1024, 2048, 2048, 1024], 'dropout': 0.0}, 'd_in': 110}
mlp
MLPDiffusion(
  (mlp): MLP(
    (blocks): ModuleList(
      (0): Block(
        (linear): Linear(in_features=1024, out_features=1024, bias=True)
        (activation): ReLU()
        (dropout): Dropout(p=0.0, inplace=False)
      )
      (1): Block(
        (linear): Linear(in_features=1024, out_features=2048, bias=True)
        (activation): ReLU()
        (dropout): Dropout(p=0.0, inplace=False)
      )
      (2): Block(
        (linear): Linear(in_features=2048, out_features=2048, bias=True)
        (activation): ReLU()
        (dropout): Dropout(p=0.0, inplace=False)
      )
      (3): Block(
        (linear): Linear(in_features=2048, out_features=1024, bias=True)
        (activation): ReLU()
        (dropout): Dropout(p=0.0, inplace=False)
      )
    )
    (head): Linear(in_features=1024, out_features=110, bias=True)
  )
  (proj): Linear(in_features=110, out_features=1024, bias=True)
  (time_embed): Sequential(
    (0): Linear(in_features=1024, out_features=1024, bias=True)
    (1): SiLU()
    (2): Linear(in_features=1024, out_features=1024, bias=True)
  )
)
the number of parameters 11768942
Steps:  100000
Step 1/100000 MLoss: 2.0697 GLoss: 1.3815 Sum: 3.4512

TypeError: expected str, bytes or os.PathLike object, not NoneType